<div class="side-nav">
  <img src="/images/WhatsApp Image 2023-10-11 at 10.53.07.jpeg" alt="" class="logo">
  <ul class="menu">
    <li class="menu-active"><img  class="menu-icons" src="./images/icons/dashboard-icon2.svg"> 
      <a [routerLink]="['/']">
      Dashboard
    </a>
    </li>
    <li><img class="menu-icons" src="./images/icons/Group 1033.svg">
      Attendance
    </li>
    <li><img class="menu-icons" src="./images/icons/Group 1034.svg">
      Leave
    </li>
    <li>
      <a [routerLink]="['/Analytics']"></a>
      <img class="menu-icons" src="./images/icons/Group 1035.svg">
      Analytics
    </li>
    <li>
      <a [routerLink]="['/user']">
      <img class="menu-icons" src="./images/icons/Group 1037.svg">
      
      Users
    </a>
    </li>
  </ul>
</div>
